In [1]:
from network import WESTnet

In [2]:
g = WESTnet('data/links_erl.csv', 2010)

In [3]:
g.downstream('1807041PD')

Unweighted downstream graph complete.

----

In [4]:
g.balance_graph()

Graph is weighted.

In [5]:
g.save_graph(g.completed_nodes, dot=True)

In [6]:
g.energy

    kwh/af       node
0      0.0  1807041PD
1    163.1   1807041E
2     25.0  1807045PD
3    188.1   1807045E
4     25.0  1807043PD
5    188.1   1807043E
6     25.0  1807141PD
7    192.0   1807141E
8     25.0  1807034PD
9    527.0   1807034E
10    25.0  1807250PD
11    50.0  1807269PD
12    75.0  1807267PD
13   238.1   1807267E
14   213.1   1807269E
15   188.1   1807250E
16   341.0  1807039PD
17   504.1   1807039E

-----

In [7]:
test = WESTnet('data/links_erl.csv', 2010)
test.upstream('1806011E')
test.balance_graph()

Unweighted upstream graph built.
Graph is weighted.

In [8]:
test.energy

        kwh/af             node
0     0.000000         R_CARMEL
1     0.000000  GWR1806-3-04.08
2     0.000000      GW1806-3-04
3     0.000000   GW1806-3-04.08
4     0.000000       DSL1806011
5  1167.505386        1806011GW
6  1580.486063        1806011PD
7  1729.502007         1806011E

In [11]:
[k for k in test.edges.keys()]

[('1806011GW', '1806011PD'),
 ('R_CARMEL', 'GWR1806-3-04.08'),
 ('GWR1806-3-04.08', '1806011GW'),
 ('GW1806-3-04', 'GW1806-3-04.08'),
 ('GW1806-3-04.08', '1806011GW'),
 ('DSL1806011', '1806011PD'),
 ('R_CARMEL', '1806011PD'),
 ('1806011PD', '1806011E')]

----