# Outline of Lab:

### 1. Introduction: Transition from Sankey
 - "You've now *visualized* the water transmission between and analyzed acquired an intuition as to why you saw the change that you saw. Now you'll look at this data in barplots alongside with energy transmission data and analyze the ratio of energy consumption to the volume of transported water..."

### 2. Introduce data
- <div style = "color: orange">**NOTE:** I made a new csv so students don't have to worrya bout 2010 and 2015 data being separate, combining them together, and then filtering out uncessary water targets and years. The new csv is called `network.csv`</div>
- Take a moment to explain the data. What do the columns mean? Do we need any more columns? What does "source" and "target" mean? What to the "year" columns mean?
    - create the new "Total Energy" column here!
- *Note*: Intro notebook MUST cover `.where()` and `.group()` functions thoroughly.

### 3. Analysis Example!
- Conduct example analysis on Cerrito utility. Make sure to **explain** what you're doing and why: what will the students take away from this analysis? Ask discussion questions to make sure students are following, and **provide your own interpretation**.
- As a part of the analysis, plot a bargraph with 2010, predicted 2015 and actual 2015 data.
- *Note:* Make sure to interpret the graph at some point. Students will be looking to see an example of how you analyze the graph to do it themselves.
- Finally, compare and **discuss** the total energy to cumulative water volume ratio between 2010, predicted 2015

### 4. Students try their own utility!
- provide some skeleton code, have students produce the same bar graphs & look at energy to water ratio, write down their interpretation, answer discussion questions.

### 5. Big Picture: what did this look like overall across California?
- Use all utilities to conduct the same analysis
- discuss effect of drought, ratio
- Discussion questions, ask if students' utilities experiences the same trend.

### 6. Conclusion:
- Peer consulting (resource)
- Survey

---

# Notes for Mina (4/4/19)

1. Data:
    - Keiko to get rid of unnecessary columns
    - Explain that the **`year`** column only contains three values: 2010, 2015, and Predicted 2015
    - Explain what "Predicted 2015" is
    - Explain that the "target" column contains **only** water utilities, while the **source** columns contain any water source that provides water to those target utilities.
    * Explain what students will be doing with the data!

2. `.where()` function: briefly go over what it does
    - In the intro notebook, Keiko will provide examples of how to extract dates and utilities out from dataframe so students are prepared to do ths in your lab

3. `.sort()` function: don't need! Get rid of this

4. Cerritos Example: 
    - output dataframes for 2010, provide blub of what to notice
    - same for 2015
    - Quickly compare values you see in 2010 and in 2015

5. Students try their own:
    - provide same structure as above
    - provide relevant discussion questions
    
6. Move onto "Further Analysis".
    - Explain what you will do for further analysis (maybe finish making this part of the lab and come back to writing the description)
    - Explain why you are introducing the formulas: why do you need it / what will you do with it
    - Go right into visualization
    - analyze vizualization -- what should you notice?
    - Calculate relevant difference / percent difference measures
    - Ratio analysis -- make sure you explain why you're doing this thoroughly
    
7. Students try their own! Restructure order so it follows the same flow as the Cerritos example.

### Optional

Also, this is up to you but this might be a more efficient way to display the data for all 3 years in one place (so just filter by the utility code.) The way that the `network.csv` is structures, everything should come out cleanly in order like below. Just something to keep in mind.

In [10]:
from datascience import *

In [11]:
df = Table().read_table('network.csv')
df.where('target', are.equal_to('1807057E'))

year           | source     | target   | cumulative_volume_af | transmission_kwh/af
2010           | 1807057NPD | 1807057E | 1870                 | 195.72
2010           | 1807057PD  | 1807057E | 6048                 | 163.1
2015           | 1807057NPD | 1807057E | 2335                 | 195.72
2015           | 1807057PD  | 1807057E | 8460                 | 326.2
Predicted 2015 | 1807057NPD | 1807057E | 2046                 | 195.72
Predicted 2015 | 1807057PD  | 1807057E | 7410                 | 163.1

In [12]:
import pandas as pd
import numpy as np

In [63]:
df = pd.read_csv('network.csv')
df.head()

   year     source    target  cumulative_volume_af  total_energy_kwh
0  2010  1801001PD  1801001E               1624.00        264874.400
1  2010  1801007PD  1801007E               2015.20        328679.120
2  2010  1801009PD  1801009E               2924.55        476994.105
3  2010  1801011PD  1801011E               1350.00        220185.000
4  2010  1801015PD  1801015E                840.00        137004.000

In [61]:
df = df.loc[:,['year', 'source', 'target', 'cumulative_volume_af', 'transmission_kwh/af']]

C:\Users\keiko\Anaconda3\envs\discovery\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [62]:
total_energy = df['cumulative_volume_af'] * df['transmission_kwh/af']
total_energy = [int(i) for i in total_energy]
total_energy

ValueError: cannot convert float NaN to integer

In [39]:
df['total_energy_kwh'] = total_energy

In [40]:
df.loc[:, ['year', 'source', 'target', 'cumulative_volume_af', 'total_energy_kwh']].to_csv('network.csv', index = False)

In [41]:
pd.read_csv('network.csv')

,year,source,target,cumulative_volume_af,total_energy_kwh
0,2010,1801001PD,1801001E,1624.000000,2.648744e+05
1,2010,1801007PD,1801007E,2015.200000,3.286791e+05
2,2010,1801009PD,1801009E,2924.550000,4.769941e+05
3,2010,1801011PD,1801011E,1350.000000,2.201850e+05
4,2010,1801015PD,1801015E,840.000000,1.370040e+05
5,2010,1801017PD,1801017E,1798.335451,2.933085e+05
6,2010,1801019PD,1801019E,1414.560000,2.307147e+05
7,2010,1801021NPD,1801021E,710.000000,1.389612e+05
8,2010,1801021PD,1801021E,3098.080000,5.052968e+05
9,2010,1801023NPD,1801023E,204.000000,3.992688e+04
10,2010,1801023PD,1801023E,17086.080000,2.786740e+06
11,2010,1801027PD,1801027E,3092.000000,5.043052e+05
12,2010,1801029PD,1801029E,591.240000,9.643124e+04
13,2010,1801031NPD,1801031E,100.000000,1.957200e+04
14,2010,1801031PD,1801031E,2408.650000,3.928508e+05
15,2010,1801033PD,1801033E,3294.600000,5.373493e+05
16,2010,1802005PD,1802005E,24446.240000,4.302538e+05
17,2010,1802007PD,1802007E,1307.610000,2.301394e+04
18,2010,1802009PD,1802009E,2152.150000,3.787784e+04
19,2010,1802011PD,1802011E,2536.800000,5.124336e+05
20,2010,1802013PD,1802013E,318.000000,3.180000e+05
21,2010,1802015PD,1802015E,1782.040000,3.136390e+04
22,2010,1802019PD,1802019E,8502.480000,1.496436e+05
23,2010,1802021PD,1802021E,13578.840000,2.389876e+05
24,2010,1802027PD,1802027E,10650.000000,1.874400e+05
25,2010,1802031NPD,1802031E,1542.000000,3.256704e+04
26,2010,1802031PD,1802031E,22172.700000,3.902395e+05
27,2010,1802033PD,1802033E,6720.000000,1.182720e+05
28,2010,1802035PD,1802035E,10620.000000,1.869120e+05
29,2010,1802037PD,1802037E,22606.080000,3.978670e+05
...,...,...,...,...,...
1413,Predicted 2015,1810023NPD,1810023E,2800.363950,5.914369e+04
1414,Predicted 2015,1810023PD,1810023E,3294.885207,5.798998e+04
1415,Predicted 2015,1810025NPD,1810025E,850.000000,1.795200e+04
1416,Predicted 2015,1810025PD,1810025E,25000.000000,4.400000e+05
1417,Predicted 2015,1810027PD,1810027E,1858.230000,3.270485e+04
1418,Predicted 2015,1810029PD,1810029E,13200.000000,2.323200e+05
1419,Predicted 2015,1810035PD,1810035E,3636.330000,6.399941e+04
1420,Predicted 2015,GW1807-4-08,1807041E,4325.290000,7.054548e+05
1421,Predicted 2015,GW1807-9-01,1807329E,691.000000,4.000890e+05
1422,Predicted 2015,GW1808011,1808011E,739.000000,1.308030e+05
1423,Predicted 2015,GW1810-7-62,1810035E,124.000000,5.902400e+04
1424,Predicted 2015,GWR1805-2-09.01,1805003E,16200.000000,5.154840e+06
1425,Predicted 2015,GWR1807-4-12,1807025E,2100.000000,3.425100e+05
1426,Predicted 2015,GWR1807-8-02.01,1807161E,20000.000000,3.262000e+06
1427,Predicted 2015,R_AmericanMFRK,1802069E,73467.000000,6.391629e+06
1428,Predicted 2015,RES1804009,1804009E,4175.000000,3.632250e+05
1429,Predicted 2015,RES1805007,1805007E,457.863558,3.983413e+04
1430,Predicted 2015,RES1806063,1806063E,75.000000,6.525000e+03
1431,Predicted 2015,SW_CVPFKC,1803033E,53100.000000,1.232982e+06
1432,Predicted 2015,SW1802041,1802041E,5494.000000,4.779780e+05
1433,Predicted 2015,SW1802059,1802059E,160987.000000,1.400587e+07
1434,Predicted 2015,SW1803SWP11,1803041E,6548.362369,5.773364e+05
1435,Predicted 2015,SW1805049,1805049E,350.000000,3.111500e+04
1436,Predicted 2015,SW1805SWP05axf,1805007E,4795.662908,3.250692e+06
1437,Predicted 2015,SW1807095,1807095E,4600.000000,4.002000e+05
1438,Predicted 2015,SW1807181,1807181E,500.000000,4.350000e+04
1439,Predicted 2015,SW1804000,1804000E,3366.000000,2.928420e+05
1440,Predicted 2015,SWP_YBACRD,1805001E,0.688891,2.192050e+02
1441,Predicted 2015,XF1803019,1803019E,8600.000000,2.150000e+05
1442,Predicted 2015,XFRSDLRIO,1803083E,6500.000000,5.655000e+05